[OUTPUT]
    Name              datadog
    Match             dotnet-example*
    Host              http-intake.logs.datadoghq.com
    TLS               on
    compress          gzip
    apikey            a07175256c43b8ba41666c71c211ca9e
    dd_service        dotnet-example
    dd_source         dotnet-example
    dd_message_key    log
    dd_tags           env:dev
