[OUTPUT]
    Name                cloudwatch
    Match               *
    region              us-east-1
    log_group_name      /ecs/ddagent-example
    log_stream_prefix   fluent-bit
    auto_create_group   true
[OUTPUT]
    Name              datadog
    Match             dotnet-example*
    Host              http-intake.logs.datadoghq.com
    TLS               on
    compress          gzip
    apikey            a07175256c43b8ba41666c71c211ca9e
    dd_service        dotnet-example
    dd_source         dotnet-example
    dd_message_key    log
    dd_tags           env:dev
